<h2 class="ingredients-page-h2">Select your ingredients</h2>

<p class="user-tip">Enter as many (or as few) items as you want! ANY food item in your home will do.</p>

    <div class="input-container">
        <form class="ingredient-input form">
        <input type="text" class="ingredients-input" name="ingredients-input" placeholder="Enter ingredients here!">
        <button type="submit" class="add-ingredient-btn">Submit</button>
        </form>
    </div>

    <div class="ingredients-list-container">
        <ul class="ingredients-list"></ul>    
    </div>
    
    
    <div class="loading-spinner-container"> 
        <h2 class="loading-text">One moment...</h2>
        <img src="../img/noun-7468705-E63946.svg" class="loading-spinner">
    </div>

    <button class="generate-recipes-btn">Generate Recipes!</button>
        
    


