<form action="/recipe/ingredients" method="GET" class="mealtype-form">
    <h2>What are you in the mood for?</h2>
    <div class="mealtype-btns-container">
        <button type="submit" name="mealType" value="breakfast">Breakfast</button>
        <button type="submit" name="mealType" value="lunch">Lunch</button>
        <button type="submit" name="mealType" value="dinner">Dinner</button>
        <button type="submit" name="mealType" value="dessert">Dessert</button>
        <button type="submit" name="mealType" value="snack">Snack</button>
    </div>
</form>