<h3>Welcome!</h3>

<div class="register-container">
    <form action="auth/register" method="post" class="login-register-form">
        <input type="text" name="username" placeholder="create a username">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <button type="submit" class="register-submit-btn">Register</button>
    </form>
</div>

<div class="login-toggle-btn-container">
    <a href="/">Go to login page</a>
</div>