<nav>
    <div class="nav-links-container">
        <a>Your Recipes</a>
        <a>About Us</a>
        <a>Generate</a>
        <a>Logout</a>
    </div>
</nav>

<div class="results-container">
    


</div>